[Desktop Entry]
Version=1.0
Name=Fiji Is Just ImageJ
GenericName=Fiji Is Just ImageJ
X-GNOME-FullName=Fiji Is Just ImageJ
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/home/williamgrimes/fiji/fiji
TryExec=/home/williamgrimes/fiji/fiji
Terminal=false
StartupNotify=true
Icon=/home/williamgrimes/fiji/images/icon.png
StartupWMClass=fiji-Main
