# Name: Annotation ROI 3D
# Author: William Grimes
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins, "Annotation ROI 3D", Annotation_ROI_3D
